<h1>Student</h1>

<%= form_for @new_student, html: {class: "something", id: "fizal"} do |f| %>
 <p> First Name <%= f.text_area :first_name, cols: 15, rows: 1 %> </p>
 <p> Last Name <%= f.text_area :last_name, cols: 15, rows: 1 %></p>
 <p> Age <%= f.text_area :age, cols: 15, rows: 1 %> </p>
 <p> Education <%= f.text_area :education, cols: 15, rows: 1 %></p>


  <br>

  <%= f.collection_select(:user_id, User.all, :id, :username) %>

  <br>
  <%= f.submit "Create" %>
<% end %>

<p id="count_message"> </p>

<div>
  <% @students.each do |student| %>
    <p> <%= student.first_name %> <%= student.last_name %> <%= student.age %> <%= student.education %></p>

    <%= link_to "DELETE", '/students/' + student.id.to_s, method: :delete, class: "btn" %>
    <%= link_to  "EDIT", edit_student_path(student) %>
    <p> <b> Student by <%= student.user.username %> </b> </p>
    <br>
    <br>
  <% end %>
</div>