

<h1>Student</h1>

<%= form_for @new_student, html: {class: "something", id: "fizal"} do |f| %>
 <p> First Name <%= f.text_area :first_name, cols: 15, rows: 1 %> </p>
 <p> Last Name <%= f.text_area :last_name, cols: 15, rows: 1 %></p>
 <p> Age <%= f.text_area :age, cols: 15, rows: 1 %> </p>
 <p> Education <%= f.text_area :education, cols: 15, rows: 1 %></p>


  <%= f.submit "Create" %>
<% end %>



<div class="ui container">
<table class="ui striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Education</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <% @students.each do |student| %>
  <tbody>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.age %></td>
      <td><%= student.education %></td>
      <td><%= link_to "DELETE", '/students/' + student.id.to_s, method: :delete, class: "btn" %></td>
      <td><%= link_to  "EDIT", edit_student_path(student) %></td>
    </tr>
  </tbody>
   <% end %>
</table>
</div>