<h1>Instructor</h1>

<%= form_for @new_instructor, html: {class: "something", id: "fizal"} do |f| %>
 <p> First Name <%= f.text_area :first_name, cols: 15, rows: 1 %> </p>
 <p> Last Name <%= f.text_area :last_name, cols: 15, rows: 1 %></p>
 <p> Age <%= f.text_area :age, cols: 15, rows: 1 %> </p>
 <p> Education <%= f.text_area :education, cols: 15, rows: 1 %></p>
 <p> Salary <%= f.text_area :salary, cols: 15, rows: 1 %></p>


  <br>

  <%= f.collection_select(:cohort_id, Cohort.all, :id, :cohort_name) %>
  <%= f.collection_select(:course_id, Course.all, :id, :course_name) %>

  <br>
  <%= f.submit "Create" %>
<% end %>

<p id="count_message"> </p>

<div>
  <% @instructors.each do |instructor| %>
    <p> <%= instructor.first_name %> <%= instructor.last_name %> <%= instructor.age %> <%= instructor.education %> <%= instructor.salary %></p>
    <p> <b> Cohort by <%= instructor.cohorts.cohort_name %> </b> </p>
    <%= link_to "DELETE", '/instructors/' + instructor.id.to_s, method: :delete, class: "btn" %>
    <%= link_to  "EDIT", edit_instructor_path(instructor) %>
    <br>
    <br>
  <% end %>
</div>