<h1>Courses</h1>

<%= form_for @new_course, html: {class: "something", id: "fizal"} do |f| %>
 <p> Course Name <%= f.text_area :course_name, cols: 15, rows: 1 %> </p>
 <p> Hours <%= f.text_area :hours, cols: 15, rows: 1 %></p>


  <br>

  <%= f.collection_select(:cohort_id, Cohort.all, :id, :cohort_name) %>

  <br>
  <%= f.submit "Create" %>
<% end %>

<p id="count_message"> </p>

<div>
  <% @courses.each do |course| %>
    <p> <%= course.course_name %> <%= course.hours %> </p>

    <%= link_to "DELETE", '/courses/' + course.id.to_s, method: :delete, class: "btn" %>
    <%= link_to  "EDIT", edit_course_path(course) %>
    <br>
    <br>
  <% end %>
</div>